pegasus/src/utils/mu/mu
# TODO: ks: These files should be removed rather than hidden
pegasus/src/Pegasus/Common/tests/Logger/log.trace.0
pegasus/src/Pegasus/Common/tests/Tracer/testtracer4.trace.0
pegasus/src/Pegasus/Server/tests/result

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
