<INSTANCE  CLASSNAME="ValidMof4" >
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof4" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>1</VALUE>
</PROPERTY>
<PROPERTY.ARRAY NAME="A1"  TYPE="uint16" CLASSORIGIN="ValidMof4">
</PROPERTY.ARRAY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof4" >
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof4" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>2</VALUE>
</PROPERTY>
<PROPERTY.ARRAY NAME="A1"  TYPE="uint16" CLASSORIGIN="ValidMof4">
<VALUE.ARRAY>
</VALUE.ARRAY>
</PROPERTY.ARRAY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof4" >
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof4" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>3</VALUE>
</PROPERTY>
<PROPERTY.ARRAY NAME="A1"  TYPE="uint16" CLASSORIGIN="ValidMof4">
<VALUE.ARRAY>
<VALUE>1</VALUE>
</VALUE.ARRAY>
</PROPERTY.ARRAY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof4" >
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof4" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>4</VALUE>
</PROPERTY>
<PROPERTY.ARRAY NAME="A1"  TYPE="uint16" CLASSORIGIN="ValidMof4">
<VALUE.ARRAY>
<VALUE>1</VALUE>
<VALUE>2</VALUE>
</VALUE.ARRAY>
</PROPERTY.ARRAY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof4" >
<PROPERTY.ARRAY NAME="A1"  TYPE="uint16" CLASSORIGIN="ValidMof4" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof4" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>5</VALUE>
</PROPERTY>
</INSTANCE>
