<INSTANCE  CLASSNAME="ValidMof5" >
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof5" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>1</VALUE>
</PROPERTY>
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof5" TYPE="string">
</PROPERTY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof5" >
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof5" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>2</VALUE>
</PROPERTY>
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof5" TYPE="string">
<VALUE></VALUE>
</PROPERTY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof5" >
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof5" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>3</VALUE>
</PROPERTY>
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof5" TYPE="string">
<VALUE>Denise</VALUE>
</PROPERTY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof5" >
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof5" PROPAGATED="true" TYPE="string">
</PROPERTY>
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof5" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>4</VALUE>
</PROPERTY>
</INSTANCE>
