<INSTANCE  CLASSNAME="ValidMof6" >
<PROPERTY.ARRAY NAME="decimalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="octalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="hexValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="binaryValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof6" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>1</VALUE>
</PROPERTY>
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof6" TYPE="uint32">
</PROPERTY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof6" >
<PROPERTY.ARRAY NAME="decimalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="octalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="hexValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="binaryValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof6" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>2</VALUE>
</PROPERTY>
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof6" TYPE="uint32">
<VALUE>0</VALUE>
</PROPERTY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof6" >
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof6" PROPAGATED="true" TYPE="uint32">
</PROPERTY>
<PROPERTY.ARRAY NAME="decimalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="octalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="hexValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="binaryValue"  TYPE="sint32" CLASSORIGIN="ValidMof6" PROPAGATED="true">
</PROPERTY.ARRAY>
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof6" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>3</VALUE>
</PROPERTY>
</INSTANCE>
<INSTANCE  CLASSNAME="ValidMof6" >
<PROPERTY NAME="A1"  CLASSORIGIN="ValidMof6" PROPAGATED="true" TYPE="uint32">
</PROPERTY>
<PROPERTY NAME="id"  CLASSORIGIN="ValidMof6" TYPE="uint32">
<QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
<VALUE>TRUE</VALUE>
</QUALIFIER>
<VALUE>4</VALUE>
</PROPERTY>
<PROPERTY.ARRAY NAME="decimalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6">
<VALUE.ARRAY>
<VALUE>-100</VALUE>
<VALUE>0</VALUE>
<VALUE>100</VALUE>
</VALUE.ARRAY>
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="octalValue"  TYPE="sint32" CLASSORIGIN="ValidMof6">
<VALUE.ARRAY>
<VALUE>-100</VALUE>
<VALUE>0</VALUE>
<VALUE>100</VALUE>
</VALUE.ARRAY>
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="hexValue"  TYPE="sint32" CLASSORIGIN="ValidMof6">
<VALUE.ARRAY>
<VALUE>-100</VALUE>
<VALUE>100</VALUE>
<VALUE>0</VALUE>
</VALUE.ARRAY>
</PROPERTY.ARRAY>
<PROPERTY.ARRAY NAME="binaryValue"  TYPE="sint32" CLASSORIGIN="ValidMof6">
<VALUE.ARRAY>
<VALUE>-100</VALUE>
<VALUE>0</VALUE>
<VALUE>100</VALUE>
</VALUE.ARRAY>
</PROPERTY.ARRAY>
</INSTANCE>
