<CLASS NAME="ValidMof8b">
  <PROPERTY NAME="id" CLASSORIGIN="ValidMof8b" TYPE="uint32">
    <QUALIFIER NAME="key" TYPE="boolean" OVERRIDABLE="false">
      <VALUE>
        TRUE
      </VALUE>
    </QUALIFIER>
  </PROPERTY>
  <PROPERTY NAME="A1L" CLASSORIGIN="ValidMof8b" TYPE="uint32">
    <QUALIFIER NAME="MinValue" TYPE="sint64">
      <VALUE>
        0
      </VALUE>
    </QUALIFIER>
  </PROPERTY>
</CLASS>
