



Valid cases:
All options specified except hostname
wbemexec -p 5988 -v 1.1 -m M-POST -t 10000 -u guest -w guest ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




All options specified except hostname
wbemexec -p5988 -v1.1 -mM-POST -t10000 -uguest -wguest ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




No options specified
wbemexec < ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Test cases for HTTP version option:
-v 1.0 option specified
wbemexec -v 1.0 ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




-v 1.1 option specified
wbemexec -v 1.1 ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Test cases for HTTP method option:
-m POST option specified
wbemexec -m POST ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




-m M-POST option specified
wbemexec -m M-POST ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




-m POST -v 1.0 specified
wbemexec -v 1.0 -m POST ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




-m POST -v 1.1 specified
wbemexec -v 1.1 -m POST ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




-m M-POST -v 1.1 specified
wbemexec -v 1.1 -m M-POST ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Test cases for timeout option:
minimum valid timeout value (milliseconds)
wbemexec -t 1 ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Test cases for timeout option:
maximum valid timeout value (milliseconds)
wbemexec -t 4294967295 ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




XML request already encapsulated in HTTP M-POST request
wbemexec ./cimrequest.http


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Multiple CIM operation request
Times out -- not yet supported by CIM Server
wbemexec -t 1 ./cimrequest04.xml


Timed out waiting for response 




Error cases:
Missing argument for -h option
wbemexec -h < ./cimrequest.xml


wbemexec: Missing required value for flag h
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Missing argument for -p option
wbemexec -p < ./cimrequest.xml


wbemexec: Missing required value for flag p
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Missing argument for -v option
wbemexec -v < ./cimrequest.xml


wbemexec: Missing required value for flag v
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Missing argument for -m option
wbemexec -m < ./cimrequest.xml


wbemexec: Missing required value for flag m
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Missing argument for -t option
wbemexec -t < ./cimrequest.xml


wbemexec: Missing required value for flag t
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Missing argument for -u option
wbemexec -u < ./cimrequest.xml


wbemexec: Missing required value for flag u
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Missing argument for -w option
wbemexec -w < ./cimrequest.xml


wbemexec: Missing required value for flag w
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Missing argument for -d option
wbemexec -d < ./cimrequest.xml


wbemexec: Missing required value for flag d
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Non-option argument -
Works -- getoopt behavior differs from other implementations of getopt
wbemexec - < ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Non-option argument -
Works -- getoopt behavior differs from other implementations of getopt
wbemexec - ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Empty string non-option argument
wbemexec "" < ./cimrequest.xml


Unable to use requested input file: file does not exist 




Empty string non-option argument
wbemexec "" ./cimrequest.xml


wbemexec: argument "./cimrequest.xml" was unexpected
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid option -x
wbemexec -x < ./cimrequest.xml


wbemexec: Unknown flag -x
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid option -x
wbemexec -u guest -w guest -x < ./cimrequest.xml


wbemexec: Unknown flag -x
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid option -x
wbemexec -u guest -x -w guest < ./cimrequest.xml


wbemexec: Unknown flag -x
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid option -x
wbemexec -x foo < ./cimrequest.xml


wbemexec: Unknown flag -x
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid option -x
wbemexec -xfoo < ./cimrequest.xml


wbemexec: Unknown flag -x
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Duplicate -h option
wbemexec -h chacha -h cancan ./cimrequest.xml


wbemexec: duplicate "-h" option
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Duplicate -p option
wbemexec -p 5988 -p 81 ./cimrequest.xml


wbemexec: duplicate "-p" option
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Duplicate -v option
wbemexec -v 1.0 -v 1.1 ./cimrequest.xml


wbemexec: duplicate "-v" option
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Duplicate -m option
wbemexec -m POST -m M-POST ./cimrequest.xml


wbemexec: duplicate "-m" option
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Duplicate -t option
wbemexec -t 25000 -t 30000 ./cimrequest.xml


wbemexec: duplicate "-t" option
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Duplicate -u option
wbemexec -u guest -u guest2 ./cimrequest.xml


wbemexec: duplicate "-u" option
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Duplicate -w option
wbemexec -w guest -w guest2 ./cimrequest.xml


wbemexec: duplicate "-w" option
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Multiple inputfilepath arguments
wbemexec ./cimrequest.xml ./cimrequest2.xml


wbemexec: argument "./cimrequest2.xml" was unexpected
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid hostName argument
wbemexec -h nohost ./cimrequest.xml


Failed to connect to cimom 




Invalid number format for portNumber argument
wbemexec -p xxx ./cimrequest.xml


wbemexec: argument "xxx" is not valid for option "-p"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid number format for portNumber argument
wbemexec -p 1.1 ./cimrequest.xml


wbemexec: argument "1.1" is not valid for option "-p"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid number format for portNumber argument
wbemexec -p 1E+1 ./cimrequest.xml


wbemexec: argument "1E+1" is not valid for option "-p"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Out of range portNumber argument
getoopt behavior differs from other implementations of getopt:
getoopt reports missing required value for flag p
wbemexec -p -5988 ./cimrequest.xml


wbemexec: Missing required value for flag p
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Out of range portNumber argument
getoopt behavior differs from other implementations of getopt:
getoopt reports missing required value for flag p
wbemexec -p -1 ./cimrequest.xml


wbemexec: Missing required value for flag p
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Out of range portNumber argument
wbemexec -p 65536 ./cimrequest.xml


wbemexec: argument "65536" is not valid for option "-p"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Maximum valid portnumber, but cimom not running on specified port
wbemexec -p 65535 ./cimrequest.xml


Failed to connect to cimom 




Minimum valid portnumber, but cimom not running on specified port
wbemexec -p 0 ./cimrequest.xml


Failed to connect to cimom 




Invalid (unsupported) version argument
wbemexec -v 0.9 ./cimrequest.xml


wbemexec: argument "0.9" is not valid for option "-v"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid (unsupported) method argument
wbemexec -m GET ./cimrequest.xml


wbemexec: argument "GET" is not valid for option "-m"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid combination of version and method argument (1.0 with M-POST)
wbemexec -v 1.0 -m M-POST ./cimrequest.xml


M-POST method invalid with HTTP version 1.0 




Invalid number format for timeout argument
wbemexec -t xxx ./cimrequest.xml


wbemexec: argument "xxx" is not valid for option "-t"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid number format for timeout argument
wbemexec -t 1.1 ./cimrequest.xml


wbemexec: argument "1.1" is not valid for option "-t"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid number format for timeout argument
wbemexec -t 1e-1 ./cimrequest.xml


wbemexec: argument "1e-1" is not valid for option "-t"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Out of range timeout argument value
wbemexec -t 0 ./cimrequest.xml


wbemexec: argument "0" is not valid for option "-t"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Out of range timeout argument value
wbemexec -t 4294967296 ./cimrequest.xml


wbemexec: argument "4294967296" is not valid for option "-t"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid user argument
Works now because no authentication or authorization
wbemexec -u nonuser ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Invalid password argument
Works now because no authentication or authorization
wbemexec -w nonpassword ./cimrequest.xml


<?xml version="1.0" encoding="utf-8"?>
<CIM CIMVERSION="2.0" DTDVERSION="2.0">
<MESSAGE ID="7873" PROTOCOLVERSION="1.0">
<SIMPLERSP>
<IMETHODRESPONSE NAME="EnumerateClassNames">
<IRETURNVALUE>
<CLASSNAME NAME="CIM_ErrorCountersForDevice"/>
<CLASSNAME NAME="CIM_PhysicalStatistics"/>
<CLASSNAME NAME="CIM_DeviceStatistics"/>
<CLASSNAME NAME="CIM_SAPStatistics"/>
<CLASSNAME NAME="CIM_ServiceStatistics"/>
<CLASSNAME NAME="CIM_BGPServiceStatistics"/>
<CLASSNAME NAME="CIM_SystemStatistics"/>
</IRETURNVALUE>
</IMETHODRESPONSE>
</SIMPLERSP>
</MESSAGE>
</CIM>




Invalid debug argument
wbemexec -d 11 ./cimrequest.xml


wbemexec: argument "11" is not valid for option "-d"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid debug argument
wbemexec -d 22 ./cimrequest.xml


wbemexec: argument "22" is not valid for option "-d"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid debug argument
wbemexec -d 3 ./cimrequest.xml


wbemexec: argument "3" is not valid for option "-d"
usage: wbemexec [ -h hostname ] [ -p portnumber ] [ -v httpversion ] [ -m httpmethod ] [ -t timeout ] [ -u username ] [ -w password ] [ inputfilepath ] 




Invalid inputFilePath argument: file does not exist
wbemexec ./nonfile


Unable to use requested input file: file does not exist 




Invalid inputFilePath argument: file is not readable
wbemexec ./nopermfile


Unable to use requested input file: file is not readable 




No input provided
wbemexec ./emptyfile


No input 




No input provided
wbemexec < ./emptyfile


No input 




Invalid XML input: missing <CIM> element (no element)
wbemexec ./cimreqerr01.xml


Invalid XML request: Validation error: on line 2: Expected open of CIM element




Invalid XML input: missing <CIM> element (different element)
wbemexec ./cimreqerr01a.xml


Invalid XML request: Validation error: on line 2: Expected open of CIM element




Invalid XML input: invalid CIMVERSION attribute
wbemexec ./cimreqerr01b.xml


Invalid XML request: Validation error: on line 2: CIM.CIMVERSION attribute must be "2.0"




Invalid XML input: invalid DTDVERSION attribute
wbemexec ./cimreqerr01c.xml


Invalid XML request: Validation error: on line 2: CIM.DTDVERSION attribute must be "2.0"




Invalid XML input: missing CIMVERSION attribute
wbemexec ./cimreqerr01d.xml


Invalid XML request: Validation error: on line 2: missing CIM.CIMVERSION attribute




Invalid XML input: missing DTDVERSION attribute
wbemexec ./cimreqerr01e.xml


Invalid XML request: Validation error: on line 2: missing CIM.DTDVERSION attribute




Invalid XML input: missing <MESSAGE> element (no element)
wbemexec -u guest -w guest < ./cimreqerr02.xml


Invalid XML request: Validation error: on line 3: Failed to find <MESSAGE> element




Invalid XML input: missing <MESSAGE> element (different element)
wbemexec -u guest -w guest < ./cimreqerr02a.xml


Invalid XML request: Validation error: on line 3: Failed to find <MESSAGE> element




Invalid XML input: missing PROTOCOLVERSION attribute
wbemexec -u guest -w guest < ./cimreqerr02b.xml


Invalid XML request: Validation error: on line 3: Bad or missing MESSAGE.PROTOCOLVERSION attribute




Invalid XML input: missing <SIMPLEREQ> element (no element)
wbemexec -u guest -w guest < ./cimreqerr03.xml


Invalid XML request: Validation error: on line 4: Failed to find <SIMPLEREQ> or <MULTIREQ> element




Invalid XML input: missing <SIMPLEREQ> element (different element)
wbemexec -u guest -w guest < ./cimreqerr03a.xml


Invalid XML request: Validation error: on line 4: Failed to find <SIMPLEREQ> or <MULTIREQ> element




Invalid XML input: missing <IMETHODCALL> or <METHODCALL> element 
    (no element)
wbemexec -u guest -w guest < ./cimreqerr04.xml


Invalid XML request: Validation error: on line 5: Failed to find <METHODCALL> or <IMETHODCALL> element




Invalid XML input: missing <IMETHODCALL> or <METHODCALL> element 
    (different element)
wbemexec -u guest -w guest < ./cimreqerr04a.xml


Invalid XML request: Validation error: on line 5: Failed to find <METHODCALL> or <IMETHODCALL> element




Invalid XML input: missing NAME attribute 
wbemexec -u guest -w guest < ./cimreqerr04b.xml


Invalid XML request: Validation error: on line 5: missing IMETHODCALL.NAME attribute




Invalid XML input: missing <LOCALNAMESPACEPATH> element (no element)
wbemexec -u guest -w guest < ./cimreqerr05.xml


Invalid XML request: Validation error: on line 6: Failed to find <LOCALNAMESPACEPATH> element




Invalid XML input: missing <LOCALNAMESPACEPATH> element (different 
    element)
wbemexec -u guest -w guest < ./cimreqerr05a.xml


Invalid XML request: Validation error: on line 6: Failed to find <LOCALNAMESPACEPATH> element




Invalid XML input: missing <NAMESPACE> element (no element)
wbemexec -u guest -w guest < ./cimreqerr06.xml


Invalid XML request: Validation error: on line 7: Expected either open or open/close NAMESPACE element




Invalid XML input: missing <NAMESPACE> element (different element)
wbemexec -u guest -w guest < ./cimreqerr06a.xml


Invalid XML request: Validation error: on line 7: Expected either open or open/close NAMESPACE element




Invalid XML input: missing NAME attribute for NAMESPACE element
wbemexec ./cimreqerr06b.xml


Invalid XML request: Validation error: on line 7: missing NAMESPACE.NAME attribute




Invalid XML input: subelement other than NAMESPACE in list
wbemexec ./cimreqerr06c.xml


Invalid XML request: Validation error: on line 10: Expected close of LOCALNAMESPACEPATH element, got CLASSNAME instead




Invalid XML input: subelement other than NAMESPACE in list
wbemexec ./cimreqerr06d.xml


Invalid XML request: Validation error: on line 10: Expected close of LOCALNAMESPACEPATH element, got CLASSNAME instead




Invalid XML input: missing <LOCALCLASSPATH> or <LOCALINSTANCEPATH> 
    element (no element)
wbemexec ./cimreqerr07.xml


Invalid XML request: Validation error: on line 6: Failed to find <LOCALCLASSPATH> or <LOCALINSTANCEPATH> element




Invalid XML input: missing <LOCALCLASSPATH> or <LOCALINSTANCEPATH> 
    element (different element)
wbemexec ./cimreqerr07a.xml


Invalid XML request: Validation error: on line 6: Failed to find <LOCALCLASSPATH> or <LOCALINSTANCEPATH> element




Invalid XML input: missing <LOCALNAMESPACEPATH> element (no element)
wbemexec ./cimreqerr08.xml


Invalid XML request: Validation error: on line 7: Failed to find <LOCALNAMESPACEPATH> element




Invalid XML input: missing <LOCALNAMESPACEPATH> element 
    (different element)
wbemexec ./cimreqerr08a.xml


Invalid XML request: Validation error: on line 7: Failed to find <LOCALNAMESPACEPATH> element




Invalid XML input: missing <NAMESPACE> element (no element)
wbemexec ./cimreqerr09.xml


Invalid XML request: Validation error: on line 8: Expected either open or open/close NAMESPACE element




Invalid XML input: missing <NAMESPACE> element (different element)
wbemexec ./cimreqerr09a.xml


Invalid XML request: Validation error: on line 8: Expected either open or open/close NAMESPACE element




Invalid XML input: missing NAME attribute for NAMESPACE element
wbemexec ./cimreqerr09b.xml


Invalid XML request: Validation error: on line 10: missing NAMESPACE.NAME attribute




Invalid XML input: subelement other than NAMESPACE in list
wbemexec ./cimreqerr09c.xml


Invalid XML request: Validation error: on line 11: Expected close of LOCALNAMESPACEPATH element, got CLASSNAME instead




Invalid XML input: subelement other than NAMESPACE in list
wbemexec ./cimreqerr09d.xml


Invalid XML request: Validation error: on line 11: Expected close of LOCALNAMESPACEPATH element, got CLASSNAME instead




Invalid XML input: missing <CLASSNAME> element (no element)
wbemexec ./cimreqerr10.xml


Invalid XML request: Validation error: on line 12: Failed to find <CLASSNAME> element




Invalid XML input: missing <CLASSNAME> element (different element)
wbemexec ./cimreqerr10a.xml


Invalid XML request: Validation error: on line 12: Failed to find <CLASSNAME> element




Invalid XML input: missing NAME attribute for CLASSNAME element
wbemexec ./cimreqerr10b.xml


Invalid XML request: Validation error: on line 12: missing CLASSNAME.NAME attribute




Invalid input: input starts with neither xml declaration, nor HTTP M-POST or POST method request (GET method)
wbemexec ./cimreqerr01.http


Invalid input: expected XML request, or HTTP M-POST or POST method request




Invalid input: input starts with neither xml declaration, nor HTTP M-POST
or POST method request (missing HTTP method)
wbemexec ./cimreqerr02.http


Invalid input: expected XML request, or HTTP M-POST or POST method request




Invalid input: input starts with neither xml declaration, nor valid HTTP
M-POST or POST method request (missing HTTP URI and version) -- times out
wbemexec -t 1 ./cimreqerr03.http


Timed out waiting for response 




