[ req ]
distinguished_name     = req_distinguished_name
prompt                 = no
[ req_distinguished_name ]
C                      = UK
ST                     = Berkshire
L                      = Reading
O                      = The Open Group
OU                     = The OpenPegasus Project
CN                     = PEGASUS TEST CERTIFICATE-DO NOT USE
