19. +++++ namespacetests
root/PG_InterOp
root/benchmark
root/SampleProvider
test/CimsubTestNS2
test/CimsubTestNS3
test/CimsubTestNS0
test/CimsubTestNS1
root/PG_Internal
test/EmbeddedInstance/Static
test/TestProvider
root/cimv2
test/EmbeddedInstance/Dynamic
root
test/cimv2
test/static
root/MCCAtest/B
root/MCCAtest/A
17 namespaces  returned.
